.wc-wrap {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
}

.ipwc-section_actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

[class*="ipwc-action_"] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 250px;
    width: 230px;
    padding: 20px;
    border: 1px solid #E5E5E5;
    background: #FFF;
    align-items: flex-start;
    justify-content: flex-start;
}

.ipwc-block-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

[class*="ipwc-action_"] h2 {
    background: #E5E5E5;
    margin: 0px;
    padding: 10px;
    width: 90%;
}

[class*="ipwc-action_"] ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ipwc-section_actions .button-primary {
    font-size: 14px;
    background: #007CBA;
    color: #FFF;
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.ipwc-section_actions .button-primary:hover {
    background: #FFBA00;
    color: #000;
    border: 1px solid #FFBA00;
}

/*--- Sidebar ---*/
.ipwc-section_information {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
    margin-bottom: 0px;
}

.ipwc-section_information h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

[class*="_sidebar-block"] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    padding: 15px;
}

[class*="_sidebar-block"] h3 {
    margin: 0px;
    padding-bottom: 0px;
}

[class*="_sidebar-block"] li {
    padding-bottom: 5px;
}

.ipwc-disclaimer_sidebar-block {
    background-color: #fcf9e8;
    border-left: 4px solid #ffba00;
}

.ipwc-warning_sidebar-block {
    background-color: #fcf9e8;
    border-left: 4px solid #ffba00;
}

.ipwc-helpful_sidebar-block {
    background-color: #EBF5F9;
    border-left: 4px solid #007cba;
}

.ipwc-helpful_sidebar-block a[href*="github.com"]:before {
    content: '';
    background: url('../images/github-logo.svg') no-repeat 100% 50%;
    background-size: 19px;
    padding-right: 20px;
    margin-right: 3px;
}

.ipwc-helpful_sidebar-block a[href*="wordpress.org"]:before {
    content: '';
    background: url('../images/wp-logo.png') no-repeat 100% 50%;
    background-size: 17px;
    padding-right: 20px;
    margin-right: 3px;
}

.ipwc-helpful_sidebar-block a[href*="inwebpress.com"]:before {
    content: '';
    background: url('../images/inwebpress-logo.png') no-repeat 100% 50%;
    background-size: 17px;
    padding-right: 20px;
    margin-right: 3px;
}

.ipwc-helpful_sidebar-block a[href*="t.me"]:before {
    content: '';
    background: url('../images/telegram-logo.png') no-repeat 100% 50%;
    background-size: 17px;
    padding-right: 20px;
    margin-right: 3px;
}

.ipwc-standwithua_sidebar-block {
    text-align: center;
}